<main>

<h1>Landing Page</h1>

<article>
  투자 입문자들을 위한 각종 경제지표에 대한 해석과 투자의견을 제공합니다.
  가입하여 투자 의견 참고하기
</article>

<article>
  국내 지표 확인하기 (한국 주식시장 진단)
</article>

<article>
  미국 지표 확인하기 (향후 주식시장 예측)
</article>

<article>
  상품 원자재 지표 확인하기 (거시경제 및 특정 산업군 진단하기)
</article>

</main>
