<main>
  <h1>미국 지표</h1>

  <section>
    <h3>고용 지표</h3>
  </section>

  <section>
    <h3>PMI Index</h3>
  </section>

  <section>
    <h3>장단기 금리차</h3>
  </section>

  <section>
    <h3>소비판매지수</h3>
  </section>

  <section>
    <h3>다우 지수</h3>
  </section>

  <section>
    <h3>나스닥 지수</h3>
  </section>

  <section>
    <h3>vix 지수</h3>
  </section>
  
</main>
